@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;   
}    
#content{
    text-align: center;
    margin-top: 100px;
}
#content #title{
    font-size: 60px;
    color: #fff;
}
#content #timer{    
    font-size: 50px;
    color: #fff;
}
#content #video{
    margin-top: 40px;
}