@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;   
}    
.content{
    text-align: center;
    margin-top: 100px;
}
.content #timer,
.content #title{
    font-size: 60px;
    color: #fff;
}

.content #video{
    margin-top: 40px;
}

.content #appName{
    font-size: 7rem;
    margin-bottom: 2px;
    background-color: #FBAB7E;
    background-image: -webkit-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content #desc{
    font-size: 2rem;
    margin-bottom: 150px;
}

.content #room{
    min-width: 250px;
    height: 50px;
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 30px;
    margin-left: 5px;
}
.content #joinBtn{
    height: 40px;
    font-size: 15px;
}

.fa-play, 
.fa-pause{
    font-size: 50px;
    text-shadow: 2px 4px 6px #ede8e8;
}

.actionBtn{
    background-color: inherit; 
    border: none; 
    color: #fff; 
    cursor: pointer;
    margin: 0px 50px 50px 50px;
    transition: 0.4s;
}

.actionBtn:hover{
    color: #ddd5d5; 
}

.row {
    margin-top: 5px;
    display: flex;
}

.column {
    flex: 33%;
    padding: 0 100px;
}

.column > h3{
    font-size: 2.1rem;
    margin-bottom: 0;
}

.column > h4{
    font-size: 1.6rem;
}

.column > p{
    font-size: 1.1rem;
}