@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    
}

:root{
    --white: #fff;
    --secondary-text-color: #ede8e8;
    --title-background-color: #FBAB7E;
    --title-background-color2: #F7CE68;
    --hover-color: #ddd5d5;

}

header{
    width: 40%;
    padding: 15px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    
}
hr{
    color: var(--hover-color);
} 


header .modalBtn,
header #headerRoom,
header a{
    color: var(--secondary-text-color);
    font-size: 20px;
}

header .modalBtn{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

header #headerRoom{
    margin-right: 20px;
    
}
header a{
    text-decoration: none;
}


.content{
    text-align: center;
    margin-top: 100px;
}
.content #timer,
.content #title{
    font-size: 60px;
    color: var(--white);
}

.content #video{
    margin-top: 40px;
}

.content #appName{
    font-size: 7rem;
    margin-bottom: 2px;
    background-color: var(--title-background-color);
    background-image: -webkit-linear-gradient(62deg, var(--title-background-color) 0%, var(--title-background-color2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content #desc{
    font-size: 2rem;
    margin-bottom: 150px;
}

.content #room{
    min-width: 250px;
    height: 50px;
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 30px;
    margin-left: 5px;
}
.content #joinBtn{
    height: 40px;
    font-size: 15px;
}

.fa-play, 
.fa-pause,
.fa-stop{
    font-size: 50px;
    text-shadow: 2px 4px 6px var(--secondary-text-color);
}

.actionBtn{
    background-color: inherit; 
    border: none; 
    color: var(--white); 
    cursor: pointer;
    margin: 0px 50px 50px 50px;
    transition: 0.4s;
}

.actionBtn:hover{
    color: var(--hover-color); 
}

.row {
    margin-top: 5px;
    display: flex;
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 150px;
}

.column {
    flex: 33%;
    padding: 0 100px;
}

.column > h3{
    font-size: 2.1rem;
    margin-bottom: 0;
}

.column > h4{
    font-size: 1.6rem;
}

.column > p{
    font-size: 1.1rem;
}


 
/* MODAL BOX */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: var(--white);
    margin: 20% auto;
    padding: 20px;
    border: 1px solid var(--secondary-text-color);
    width: 30%;
    border-radius: 10px;
}


.modal-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
}

.modal-title h3{
    margin: 0;
    font-size: 25px;
    align-items: center;
    color: var(--secondary-text-color);
}
/* The Close Button */
.close {
    color: var(--secondary-text-color);
    /* float: right; */
    font-size: 38px;
    font-weight: bold;
    transition: 0.4s;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#pomodoro-settings{
    text-align: left;
}
#pomodoro-settings  h3{
    color: black;
    opacity: 0.4;
}
#pomodoro-settings .timerInputs{
    display: flex;
}
.configureTimer{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: left;
    margin-right: 10px;
}
.configureTimer span{
    /* color: var(--secondary-text-color); */
    margin-bottom: 5px;
}
.configureTimer input{
    width: 50%;
}




@media only screen and (max-width: 950px) {
    .row{
        flex-direction: column;
    }
    header{
        width: 100%;
    }

}

@media only screen and (max-width: 580px) {

    .content #appName { 
       font-size: 4.2rem; 
    }
    .content #desc{
        font-size: 1rem;
    }
 
}